<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Réservations</title>
  </head>

  <body>
    <h1>
      Réservations pour Catway
      <%= reservations.length > 0 ? reservations[0].catwayNumber : '' %>
    </h1>

    <!-- Vérification si la liste des réservations est vide -->
    <% if (reservations.length === 0) { %>
      <p>Aucune réservation disponible pour ce Catway.</p>
    <% } else { %>
      <% reservations.forEach(reservation => { %>
      <ul>
        <li><strong>Client:</strong> <%= reservation.clientName %></li>
        <li><strong>Date d'arrivée:</strong> <%= new Date(reservation.checkIn).toLocaleDateString() %></li>
        <li><strong>Date de départ:</strong> <%= new Date(reservation.CheckOut).toLocaleDateString() %></li>
        <li><strong>bâteau:</strong> <%= reservation.boatName %></li>
        <li><a href="/reservations/view/<%= reservation._id %>">Voir les détails</a></li>
      </ul>
      <hr /> <!-- Ligne de séparation entre les réservations -->
      <% }); %>
    <% } %>

    <a href="/dashboard">Retour au tableau de bord</a>
  </body>
</html>